body {
  overflow-x: hidden;
  background-color: rgb(254, 254, 254);
}
td {
  background-color: white;
}
#header {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
#avatar {
  margin: 0 auto;
}
